@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&display=swap');

:root{
  --bg-color: #1c1c25 !important;
  --bg-ottred:linear-gradient(to bottom right, #dc3545, #C50707) !important;
  --bg-rf_red : #C50707
}

.font-bebas{
  font-family: 'Bebas Neue', cursive !important;
  font-family: 'Lato', sans-serif;
  letter-spacing: 10px;
}

.bg-rfred{
  background-color: var(--bg-ottred) !important;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1c1c25 !important;
}

.bg-ordark{
  background-color: var(--bg-color);
}

a{
  color: #fff !important;
  text-decoration: none !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

textarea{
  height: auto !important;
}

.overflow_hide::-webkit-scrollbar{
  display: none;
}

::-webkit-scrollbar-track
{
    width: 8px;
    background: #000;
}
::-webkit-scrollbar
{
  width: 8px;
}
::-webkit-scrollbar-thumb
{
  -webkit-border-radius: 10px;
  opacity: 1;
  width: 8px;
  background: var(--bg-rf_red);
}

.form-check-input:checked{
  background-color: var(--bg-rf_red) !important;
  border-color: var(--bg-rf_red) !important;
}

@media screen and (max-width: 805px)
{
  #rentflix-logo{
    height: 70px !important;
  }
}
